html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; 
    /* overflow: hidden; */
    /* display: flex;
    justify-content: center; */
}

#app {
    width: 100%;
    height: 100;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}

#menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: rgb(92, 212, 206);
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    /* font-size: 25px; */
    /* font-weight: 700; */
    /* color: red; */
}

#wfor{
    background-color: rgb(162, 226, 43);
    width: 97%;
   height: calc(100% - 141px);
}

#userAll{
    background-color: rgb(162, 226, 43);
    width: 97%;
   height: calc(100% - 141px);
}


.compHead{
    background-color: rgb(228, 64, 173);
    height: 100px;
    width: 100%;
    margin: 0px;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    /* position: absolute; */
 }

h1 {
    display: flex;
    justify-content: center;
    color: teal;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0px;
    
}

#l  {
    /* font-family: 'Roboto', sans-serif; */
    /* display: flex;
    justify-content: center; */
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: white;
}



 

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 80px;
}

#wapp-container{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    box-sizing: border-box;

}

.table{
    /* display: flex; */
    /* justify-content: center; */
    table-layout: fixed;
    width: 100%;
    border: 1px black solid;
    border-collapse:separate;
    border-spacing: 5px 5px;
}

.table-ext{
    /* display: flex; */
    /* justify-content: center; */
    table-layout: fixed;
    width: 100%;
    border: 1px black solid;
    border-collapse:collapse;
    border-spacing: 5px 5px;
}
.table-ext tbody {
    font-size: 16px;
    color: black;
    /* background: #fff; */
    background-color: rgba(128, 128, 128, 0.301);
    text-align: center;
}
.table-ext thead {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    font-size: 16px;
    color: black;
    background-color: rgba(128, 128, 128, 0.582);
    }

    .table-ext thead th {
        /* border: 1px solid; */
        /* border-color: red; */
        padding: 15px;
        /* text-align: start; */
        text-align: center;
    }
    .table-ext .body-ext td {
        /* border: 1px solid; */
        /* border-bottom: 1px solid red; */
        padding: 15px;
        /* text-align: start; */
        text-align: center;
    }
    #df{
        /* margin: 0px; */
        background-color: white;
    }
    #nm{
        margin: 0px;
    }
    #visina{
        height: 15px;
    }
/* .tablewf{
    display: flex;
    justify-content: center;
    table-layout: fixed;
    width: 0%;
    border: 1px black solid;
    border-collapse:separate;
    border-spacing: 5px 5px;
} */

.table thead {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    font-size: 16px;
    color: black;
    background-color: rgba(128, 128, 128, 0.582);
    }

 #f {
    color: white;
    width: 5%;
}
#s, #t, #fo, #fi, #si, #se {
    color: white;
    width: 19%;
    font-family: 'Roboto', sans-serif;
}

.table thead th {
    border: 1px solid;
    border-color: #707070;
    padding: 15px;
    text-align: start;
    text-align: center;
}

/* tbody:before {  */
/* ZA DA IMA MALCE PROSTOR MEGJU THEAD I TBODY DODAVA EDEN PRAZEN CELL*/
    /* content:"@";
    display:block;
    line-height:1em;
    text-indent:-99999px;
} */

.table tbody {
    font-size: 16px;
    color: black;
    /* background: #fff; */
    background-color: rgba(128, 128, 128, 0.301);
    text-align: center;
}



.table tbody tr td {
    padding: 10px;
    text-align: center;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.007);
}

#toggle{
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: orange;
    border: orange;
    width: 50%;
    height: 30px;
    cursor: pointer;
}

#adus{
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: teal;
    border: 2px solid silver;
    border-radius: 10px;
    width: 30%;
    height: 35px;
    /* left: 50%; */
    cursor: pointer;
}

#refresh{
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid orange;
    background-color: orange;
    width: 15%;
    height: 30px;
    cursor: pointer;
}
.cico{
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color:white;
    width: 25%;
    height: 30px;
}

#src-btn{
    height: 30px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}

#srcleft{
    height: 50px;
    width: 100%;
    background-color: teal;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}
#srcright{
    height: 30px;
    width: 100%;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}

/* #srcbar{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
} */

#toggleMe {
    color: white;
    background-color: orange;
    
}

#lab {
    display: inline-block;
    background-color: salmon;
}

#cen{
    text-align: center;
}


/* #extract{
    display: flex;
    justify-content: center;
    text-align: center;
} */

#wftitle{
    font-family: 'Roboto', sans-serif;
    color: teal;
    font-weight: 800;
    /* background-color: rgba(133, 133, 133, 0.021); */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 30px; */
}

.wfcwf{
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-weight: 700;
    /* background-color: grey; */
    text-align: center;
}

/* #btn-ext{
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid orange;
    background-color: orange;
    width: 15%;
    height: 30px;
    cursor: pointer;
} */
.orangeButton{
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid orange;
    width: 15%;
    height: 30px;
    cursor: pointer;
  }
  
.whiteButton{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: 5px solid orange;
    width: 15%;
    height: 30px;
    cursor: pointer;
  }

   /* TESTMENU LINKS */
.white{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.orange{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

#extfield{
    height: 50px;
    width: 100%;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}

.App-clock{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: teal;
}

#err{
    position: absolute;
    /* float: left; */
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: red;
    width: 600px;
    height: 200px;
    border-radius: 10px;
}
#err #canc {
    width:50px;
    height: 50px;
    margin: 0 10px 0 0;
    background-color: white;
    border-radius: 8px;
    border-color: white;
    border:none;
}
#err #go_back {
    width:50px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    border:none;
}
#err h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: white;
}

#extforerr{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   width: 500px;
   height: 200px;
   border-radius: 20px;
   background-color: orange;
}


#hds{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}




